
aside {
  padding: 25px;

  &.left {
  float: left;
  border: $diceBorder;
  margin-left: 10%;
  background-color: $diceBackground;
  border-radius: 5%;
  
  }

  &.right {
    margin-left: 80%;
    clear: right;
    border: $diceBorder;
    padding-right: -30%;
    background-color: $diceBackground;
    border-radius: 5%;
  }
}
